#!/bin/bash
# Compatible with Ubuntu 16.04 Xenial and Debian 9.x Stretch
#
	# This program is free software; you can redistribute it and/or modify
    # it under the terms of the GNU General Public License as published by
    # the Free Software Foundation; either version 2 of the License, or
    # (at your option) any later version.

    # This program is distributed in the hope that it will be useful,
    # but WITHOUT ANY WARRANTY; without even the implied warranty of
    # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    # GNU General Public License for more details.

    # You should have received a copy of the GNU General Public License along
    # with this program; if not, write to the Free Software Foundation, Inc.,
    # 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#-------------------------------------------------------------------------------------------------------------

###############################
# Versions
###############################
#
# http://nginx.org/en/download.html
# http://openssl.org/source/
# http://www.openssh.com/
# > http://www.openssh.com/releasenotes.html
# https://github.com/fail2ban/fail2ban
# https://developers.google.com/speed/pagespeed/module/build_ngx_pagespeed_from_source
# 	> https://modpagespeed.com/doc/release_notes
# https://www.rainloop.net/
#--------------------------------

NGINX_VERSION="1.13.8"
NGINX_HEADER_MOD_VERSION="0.33"
NPS_VERSION="1.13.35.2-beta"
ZLIB_Version="1.2.11"
OPENSSH_VERSION="7.4p1"
OPENSSL_VERSION="1.1.0g"
FAIL2BAN_VERSION="0.10.1"
RAINLOOP_VERSION="1.11.3"

USE_PMA="1"
PMA_HTTPAUTH_USER="httpauth"
MYSQL_PMADB_USER="phpmyadmin"
MYSQL_PMADB_NAME="phpmyadmin"
MYSQL_HOSTNAME="localhost"

###############################
# Addon Versions
###############################
#
#--------------------------------

TEAMSPEAK_VERSION="3.0.13.8"
NEXTCLOUD_VERSION="12.0.5"
MINECRAFT_VERSION="1.12.2"
